@font-face {
    font-family: 'Lumina';
    src: url('../fuentes/LUMINA.otf');
    font-style: normal;
    font-weight: normal;
}

header {

    height: 100%;
    display: flex;
    justify-content: center;

}

body{


}

main{


}

nav{

display: flex;
justify-content: center;


}

a{

    text-decoration: none;
    color: black;

}

.titulosNav{

  

}

