*{margin: 0;
    transition: 250ms ease;
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'Lumina';
    src: url('../fuentes/LUMINA.otf');
    font-style: normal;
    font-weight: normal;
}


header {
    font-family: 'Lumina';
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    width: 100%;
    z-index: 10;
}

header:hover{

    background-color: #ffffff;

}

nav {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;

    & a{

        padding: 1em;
    
        &:hover{

            opacity: 50%;
            
        
        }
    }
}

.titulo{

    display: flex;
    justify-content: center;
    margin: 1em;

}


a{

    text-decoration: none;
    color: black;

}

.banner {

width: 100%;
animation: zoom-in 1s ease-out;
z-index: -1;


}

main {

overflow: hidden;

}

@keyframes zoom-in {

    0%{

        transform: scale(1.1);
    }

    100%{

        transform: scale(1);


    }
}

