body {
    padding: 1em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section[ data-seleccionado="false"] {

    display: none;

}

button[data-titulo-seleccionado="false"] {

    color: gray;
    border-bottom: none;

}

body {
    color: red;


    & * {
        color: black;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.buttons button {
    border-bottom: 1px solid black;
    border-radius: 0;
    padding: 0.5em;


    &:active {
        transform: scale(1.05)
    }

    &:hover {
        transform: scale(1) !important;
        color: black;
    }

    &:focus {
        outline: none
    }
}

td:last-child {
    vertical-align: middle;
    text-align: center;
}