body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.banner {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    justify-content: center;

    &>div {
        display: grid;
        grid-template-columns: 4fr 1fr;
        width: 60%;
        gap: 2em;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        padding: 1em;
        border-radius: 2em;
    }
}

main {
    flex: 1;
}

article {
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    padding: 1em;

    section {
        display: flex;
        flex-direction: column;

        & header {
            font-size: 1.25em;
        }

        .entradaCompleta {
            padding: 1em;
            border-radius: 0.5em;
            position: relative;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 1em;

            & img {
                max-width: 9em;
                height: auto;
                border-radius: 0.5em;
            }

            & .entrada {
                text-align: justify;
                line-height: 1.5em;
            }
        }
    }
}


aside {
    & form {
        display: flex;
        flex-direction: column;
        gap: 1em;

        & .search-form {
            display: flex;
            gap: 1em;

            & .search-input {
                border-radius: 0.5em;
                border: none;
                background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(20px);
                padding: 1em;
            }
        }

    }
}



button {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);

    &:first-child {
        border-radius: 0.5em 1em 0.5em 0.5em;
    }

    &:last-child {
        border-radius: 0.5em 0.5em 1em 0.5em;
    }
}