main {
    padding: 2em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.general {
    width: 60%;
    display: flex;
    gap: 2em;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 2em;
    padding: 1em;
}


.banner {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
}

.nombreIes {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    white-space: nowrap;
    border-radius: 0.5em;
    font-size: 2em;
    padding: 0.5em;
    width: calc(100% - 1em);
    text-align: center;
}

article {
    gap: 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;

    & .mapa {
        border-radius: 1em;
        overflow: hidden;
        display: flex;

        & iframe {
            height: 100%;
            width: 100%;
        }
    }

    & .datos {
        padding: 1em;
        border-radius: 1em;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        gap: 1em;

        &>* {
            display: flex;
            gap: 0.5em;
            justify-content: center;
            align-items: center;
            color: black;
        }
    }
}


@media (max-width: 1024px) {
    article {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .general {
        gap: 1em;
    }
}

@media (max-width: 480px) {
    .general {
        width: 90%;
    }
}