header {

    outline: 0.05em solid black;

    & a {

        color: black;

    }

}


body>header {

    outline: 0.15em solid black;

    & a {
        color: black !important;
    }
}

main {
    padding: 2.5em;
    padding-top: 5em;
    display: flex;
    gap: 1em;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: black solid 1px;
    border-radius: 0.75em;
    text-align: center;


    & .grupo-form {

        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;


        & input {

            padding: 0.25em;
            border-radius: 0.5em;
            border: grey solid 1.5px;

        }

    }

    & button {

        background-color: black;
        color: white;
        padding: 0.75em;
        border-radius: 0.5em;
        border: 0;

        &:hover {

            background-color: #f3d1a4;
            transform: scale(1.025);
        }

    }

    & a {
        text-decoration: underline;
        color: red;

    }

}