main {
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;

    & h2 {

        text-align: center;

    }

    & .main-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 3em;

    }
}

.banner {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

body>header {

    outline: 0.15em solid black;

    & a {
        color: black !important;
    }
}

article {
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.lineas-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;



    & .botonLinea {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        filter: grayscale(0.35);
        border-radius: 1em;
        overflow: hidden;
        gap: 1em;
        outline: 0 solid var(--color);

        &:hover,
        &[data-seleccionado="true"] {
            transform: scale(1.02);
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, .1);
            filter: grayscale(0);

            & img {

                transform: translateY(-10px);

            }
        }

        &[data-seleccionado="true"] {
            outline: 0.2em solid var(--color);
        }

        & img {
            width: 500px;
        }
    }
}

.productos-cont {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.5em;

}

.producto {
    border: 0.05em solid var(--color, black);

    &:hover {
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, .25);
    }

    &[data-activo="false"] {
        animation: esconder 500ms forwards;
    }
}

@keyframes esconder {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 1600px) {
    main {
        & .main-container {
            width: 90%;
        }
    }
}


@media (max-width: 1124px) {

    .productos-cont {

        grid-template-columns: repeat(4, 1fr);

    }
}

@media (max-width: 900px) {

    .productos-cont {

        grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width: 725px) {

    .productos-cont {

        grid-template-columns: repeat(2, 1fr);

    }

    .lineas-cont {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 505px) {

    .productos-cont {

        grid-template-columns: 1fr;

    }
}