body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

body>header {

    outline: 0.15em solid black;

    & a {
        color: black !important;
    }
}

main {
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;

    & .main-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 3em;

    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: 100%;
}

.product-image {
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.product-image img {
    max-width: calc(100% - 0.2em);
    max-height: calc(100% - 0.2em);
    object-fit: contain;
    padding: 0.1em;
}

.descripcion {
    max-width: 40em;
    word-wrap: break-word;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;

    & .product-text {
        display: flex;
        flex-direction: column;
        text-align: justify;
        gap: 1em;
        line-height: 1.5em;
    }
}

.product-buttons {
    gap: 1em;
    display: grid;
}

.botonesProd {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.form-container {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1em;
}



button {
    background-color: whitesmoke;
    border: none;
    color: black;
    font-size: 1em;
    cursor: pointer;
}

.muestra {
    background-color: #000;
    color: white;
}

@media (max-width: 1400px) {
    main {
        & .main-container {
            width: 90%;
        }
    }
}

@media (max-width: 725px) {
    .container-main {
        grid-template-columns: 1fr;
    }

    .product-image img {
        width: 40%;

    }
}