main {
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 1em;
    flex-direction: column;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.banner {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.info {
    display: grid;
    gap: 2em;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 2em;
    padding: 1em;


    & .descripcion {

        display: grid;
        border-radius: 1em;
        gap: 2em;

        & h2 {
            justify-content: center;
            display: flex;
        }

        & .quienes {
            display: flex;
            gap: 2em;
            flex-direction: column;
            padding: 2em;
            border-radius: 1em;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(20px);

            & h2 {
                margin: auto;
                justify-content: center;
            }

            & .quien {
                text-align: justify;
                line-height: 1.5em;
            }
        }


        & .imagenes {
            display: flex;
            justify-content: center;
            border-radius: 1em;
            overflow: hidden;
            max-height: 300px;

            & .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}

& .datos {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;


    & .button-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5em;

        & button {
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(20px);

            &:last-child {
                border-radius: 0.5em 1em 0.5em 0.5em;
            }
        }

    }

    & .text-container {
        padding: 1em;
        height: 100%;
        border-radius: 0.5em;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        border-radius: 0.5em 0.5em 1em 0.5em;
    }

}