main {
    padding: 2.5em;
    padding-top: 5em;

}


.lineas {

    display: flex;
    gap: 2.5em;



    & section {


        border-radius: 1em;
        padding: 1em;
        overflow: hidden;
        background-color: var(--fondoLineas, white);



        & img {

            width: 256px;


        }

        & a {

            display: flex;
            flex-direction: column;
            color: black;
            text-decoration: none;
            align-items: center;
            gap: 2em;

        }


        &:hover {

            transform: scale(1.05);
        }
    }





}