header {

    outline: 0.05em solid black;

    & a {

        color: black;

    }

}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;

}

.container {

    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;

}


.products,
.summary {
    padding: 2em;


}

.summary {

    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;

}

.opciones {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.products {
    display: flex;
    flex-direction: column;
    gap: 1em;

}


.products h2,
.summary h2 {
    text-align: center;
}

.products ul {
    list-style: none;
    padding: 0;
}

.total {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
}

.checkout-btn,
.continue-shopping-btn {
    display: block;
    width: 75%;
    padding: 1em;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.checkout-btn:hover,
.continue-shopping-btn:hover {
    background-color: black;
}

.product-titles {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-weight: bold;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    gap: 1em;
}

.product-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}


.volverCompra {

    text-align: center;
    color: black;
    text-decoration: underline;
}