* {
    margin: 0;
    transition: 250ms ease;
    scroll-behavior: smooth;
    font-family: 'Lumina';
    letter-spacing: 0.1em
}

:root {

    --base: rgb(226, 110, 130);

}


.producto {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    gap: 1.5em;
    overflow: hidden;
    cursor: pointer;

    &[data-activo="false"] {

        display: none;

    }

    &:hover {

        transform: scale(1.05);
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, .1);

    }

    & .opciones {

        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;


    }


    & img {

        width: 200px;
        aspect-ratio: 1;
    }



    & button {


        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5em;
        cursor: pointer;
        border-radius: 0;



    }

    & .compra {

        background-color: var(--colorFondo, --base);
        border: 0;

    }

    & .muestra {

        background-color: black;
        color: white;
        border: 0;

    }
}

button,
.button,
.button:visited {

    padding: 1em;
    border: 0;
    border-radius: 0.5em;
    background-color: white;
    text-decoration: none;


    &:hover {

        transform: scale(1.025);
        cursor: pointer;

    }

    &:visited {
        color: #000000;
    }

}

@font-face {
    font-family: 'Lumina';
    src: url('../fuentes/LUMINA.otf');
    font-style: normal;
    font-weight: normal;
}


footer {


    & .chat {

        display: flex;
        flex-direction: row;
        justify-content: end;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.25em;
        padding: 0.5em;
        overflow: hidden;
        gap: 0.25em;



    }

}

.iconButton {

    padding: 0.5em;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.25em;
    text-decoration: none;


    &:hover {

        scale: 1.1;
        background: black;
        color: white;
        text-decoration: none;


    }

}

a {

    text-decoration: none;

}

.cantidad {
    background-color: white;
    text-align: center;
    border-radius: 0%;
    border: none;
    display: flex;
    outline: 1px solid;
    border-radius: 0.5em;

    & .menos {

        border-right: 1px solid black;
        border-radius: 0;
        background-color: transparent;

    }

    & .mas {

        border-left: 1px solid black;
        border-radius: 0;
        background-color: transparent;



    }

    & input[type="number"] {
        background-color: transparent;
        border: none;
        width: 4em;
        text-align: center;
        border-radius: 1em;
    }

    & input[type="number"]::-webkit-inner-spin-button,
    & input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


}