body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(249, 181, 236, 0.626);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* Ajustar la altura del contenedor al 100% de la altura visible del viewport */
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Divide el contenedor en dos columnas iguales */
    grid-gap: 20px;
    /* Espacio entre las dos columnas */
    height: 100%;
    /* Ocupa todo el alto del contenedor */
}

.product-image {
    overflow: hidden;
    gap: 10em;
    /* Para que el borde no afecte el tamaño de la imagen */
}

.product-image img {
    max-width: 100%;
    /* La imagen ocupa todo el ancho disponible de su contenedor */
    max-height: 100%;
    /* La imagen ocupa todo el alto disponible de su contenedor */
    object-fit: contain;
    /* Ajusta la imagen manteniendo su relación de aspecto y quepa completamente dentro del contenedor */
    border: 1px solid #000;
    background-color: white;
    padding: 5em;
}

.descripcion {
    max-width: 40em;
    word-wrap: break-word;
}

.product-details {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    width: 2.6em;
    margin-left: 0.5em;
    text-align:end;
}

button {
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.masmenos {
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    background-color: #000;
    border-radius: 50%;
}

.comprar {
    background-color: #FFC0CB;
}

.muestra {
    background-color: #000;
}
button:hover {
    background-color: white;
    color: black;
}