body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(249, 181, 236, 0.626);
}

main {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: 100%;
}

.product-image {
    overflow: hidden;
    gap: 1em;
    /* Ajuste en em */
}

.product-image img {
    max-width: calc(100% - 0.2em);
    /* Ajuste en em */
    max-height: calc(100% - 0.2em);
    /* Ajuste en em */
    object-fit: contain;
    border: 1px solid #000;
    /* Ajuste en em */
    background-color: white;
    padding: 0.1em;
    /* Ajuste en em */
}

.descripcion {
    max-width: 40em;
    word-wrap: break-word;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 7em;
}

.product-buttons {
    gap: 1em;
    display: grid;
}

.botonesProd {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.cantidadNumber {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 0%;
    border: none;
}

.form-container {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1em;
    /* Ajuste en em */
}

input[type="number"] {
    background-color: transparent;
    /* Quitar fondo del input */
    border: none;
    /* Quitar borde */
    width: 80px;
    /* Ancho del input */
    font-size: 24px;
    /* Tamaño de fuente */
    text-align: center;
    border-radius: 1em;
    /* Centrar el texto */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    background-color: whitesmoke;
    /* Fondo gris */
    border: none;
    /* Quitar borde */
    color: black;
    /* Color del texto */
    font-size: 24px;
    /* Tamaño de fuente */
    cursor: pointer;
    /* Cursor apuntador */
}

.comprar {
    background-color: #FFC0CB;
}

.muestra {
    background-color: #000;
    color: white;
}