header {

    outline: 0.05em solid black;

    & a {

        color: black;

    }

}

body {
    background-color: #f4f4f4;

}

main {
    display: flex;
    align-items: center;
    padding: 2.5em;
    gap: 1em;
    flex-direction: column;

}


.info {

    display: grid;
    gap: 2em;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    width: 80%;


    & .descripcion {

        display: grid;
        position: relative;
        border-radius: 5px;
        gap: 2em;


        & h2 {
            background-color: #dddddd;
            justify-content: center;
            display: flex;
        }

        & .quienes {
            display: flex;
            gap: 0.5em;
            flex-direction: column;
            background-color: #dddddd;
            padding: 1em;
            outline: 0.15em solid black;
            border: 0.2em solid #5dc1b9;
            border-radius: 1em;

            & h2 {
                margin: auto;
                justify-content: center;
            }

            & .quien {
                text-align: justify;
            }
        }
    }


    & .imagenes {
        display: flex;
        justify-content: center;
        background-color: #dddddd;
        outline: 0.15em solid black;
        border: 0.2em solid #5dc1b9;
        border-radius: 1em;

        & .img {
            max-width: 30em;
            max-height: 20em;
            width: auto;
            height: auto;
            margin: auto;

        }
    }

}

& .datos {
    background-color: rgb(204, 204, 204);
    outline: 0.15em solid black;
    border: 0.2em solid #5dc1b9;
    border-radius: 1em;

    & .container {
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        & .button-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5em;
        }

        & .text-container {
            background-color: #f0f0f0;
            padding: 1em;
            height: 30em;
            border-radius: 0.5em;
        }
    }

}